<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195903977126-hbh87gcc87ohs68qhdmk79fubiel1975.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195903977126-hbh87gcc87ohs68qhdmk79fubiel1975</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195903977126-4gouv8r5vmk24bvonn7ejathrakc3nt5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCP_8NL-2Yy14900rGQyBk2pGygX41aobw</string>
	<key>GCM_SENDER_ID</key>
	<string>195903977126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toobitech.squeak</string>
	<key>PROJECT_ID</key>
	<string>hide-and-squeaks</string>
	<key>STORAGE_BUCKET</key>
	<string>hide-and-squeaks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195903977126:ios:428d3876f9b4e712712667</string>
</dict>
</plist>